@import "@/styles/variables";

.container {
  color: $color-neutral;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconsGrid {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
}
