@import "@/styles/variables";

.container {
  color: $color-neutral;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.projectsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: $color-neutral-light;
    font-size: 18px;
  }
}

.project {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-neutral-200;
  border-radius: 12px;
  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.contentContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linksContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
