@import "@/styles/variables";

.container {
  color: $color-neutral;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.linksContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
    color: $color-neutral-light;
    font-size: 18px;
  }
}
