@import "@/styles/variables";

.container {
  color: $color-neutral;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.linksContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: $color-neutral-light;
    font-size: 18px;
  }
}

.hideOnMobile {
  display: block;
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.drawer {
  // Position related
  position: fixed;
  right: 0;
  height: 100vh;
  width: 200px;
  transition: transform 0.3s linear;
  transform: translateX(100%);
  background-color: gray;
  z-index: 3;

  // Links Related
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 1rem;
  padding: 1rem;
  a {
    text-decoration: none;
    color: $color-neutral-light;
    font-size: 18px;
  }
}

.openDrawer {
  transform: translateX(0);
}

.iconContainer {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 6px;
}

.hideOnDesktop {
  display: none;

  svg {
    height: 30px;
    width: 30px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: block;
  }
}
